<%= form_for [@license], remote: true do |f| %>
	<div class="row">

		<div class="input-field col s12 m12 l6">
			<%= f.collection_select :person_id, Person.all, :id, :full_name, { prompt: "Selecione" } %>
			<%= f.label :person, "Cliente" %>
		</div>
		<div class="input-field col s12 m6 l4">
			<%= f.collection_select :modalities_ids, Modality.all, :id, :category, {:include_hidden => true}, {multiple: true} %>
			<%= f.label :modalities_ids, "Modalidades" %>
		</div>
		<div class="input-field col s12 m6 l6">
			<%= f.text_field :number %>
			<label for="license_number">Número</label>
		</div>
		<div class="input-field col s12 m6 l6">
			<%= f.text_field :expiration, type: "date" %>
			<label for="license_expiration">Validade</label>
		</div>
	</div>

	<div class="row">
		<div class="action">
			<button type="submit" class="btn blue right"><%= @license.new_record? ? 'Criar' : 'Atualizar' %></button>
		</div>
	</div>
<% end %>