<tr>
	<td>
		<%= rent.person.full_name %>
	</td>
	<td>
		<%= rent.automobile.model %>
	</td>
	<td>
		<%= custom_date rent.start_date %>
	</td>
	<td>
		<%= custom_date rent.end_date %>
	</td>
	<td>
		<% if rent.pickup_date.blank? %>
			<%= link_to "Retirar", rents_pickup_car_path(rent), class: "btn small green", method: "post", remote: true, data: { confirm: "Você tem certeza?" } %>
		<% else %>
			<%= custom_date rent.pickup_date %>
		<% end %>
	</td>
	<td>
		<% if rent.return_date.blank? %>
			<%= link_to "Entregar", rents_return_car_path(rent), class: "btn small green", method: "post", remote: true, data: { confirm: "Você tem certeza?" }, disabled: rent.pickup_date.blank? %>
		<% else %>
			<%= custom_date rent.return_date %>
		<% end %>
	</td>
	<td class="green-text">
		<%= "R$ #{rent.cost}" %>
	</td>
	<td>
		<%= link_to edit_rent_path(rent) do %>
			<i class="material-icons f20">edit</i>
		<% end %>
	</td>
</tr>